@scope (.component-app) to (.component-root) {
	:scope {
		max-width: 800px;
		margin: auto;
		padding: 10px;
	}

	ul {
		margin-top: 20px 0 0;
		padding: 0;
		list-style: none;
	}

	li {
		margin: 0;
		padding: 0;
		border: 1px solid #ddd;

		& + li {
			border-top: 0;	
		}
	}

	.message {
		text-align: center;
		align-content: center;
		background: #f0f0f0;
		padding: 24px;
		min-height: 200px;
		font-size: 1.2rem;
		overflow-wrap: break-word;
	}

	.loader {
		width: 25px;
		height: 25px;
		padding: 3px;
		margin: 10px auto;
		border-radius: 50%;
		background: #aaa;
		mask: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
		mask-composite: subtract;
		animation: infinite-loop 1s infinite linear;
	}

	@keyframes infinite-loop {
		to {
			transform: rotate(360deg)
		}
	}
}